apiVersion: mobile.k8s.io/v1alpha1
kind: MobileClient
metadata:
    annotations:
        icon: fa fa-apple
        service_instance_name: {{ service_instance_name.stdout }}
    name: {{ appName }}-ios
    namespace: {{ namespace }}
spec:
    apiKey: {{ service_instance_name | to_uuid}}
    appIdentifier: {{ appIdentifier }}
    clientType: iOS
    name: {{ appName }}